* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px
}

.row:after,
.row:before {
    content: "";
    display: table;
    clear: both;
}

body {
    font-size: 1.25em;
    background-color: #D2B8FF;
}
/*login properties*/
.login {
    top: 50%;
    max-width: 200px;
    display: block;
    border-radius: 10px;
    margin: 100px auto;
    background-color: #FFF9C0;
}

.btn {
    width:65px;
    cursor:pointer;
    display: block;
    margin: 0 7%;
    float: left;
    background-color: #E8AC0F;
    border: none;
    padding: 10px;
}

.right{
    float: right;
}

.firstbtn{
    margin-left: 10px;
}
/*admin properties*/
label{
    width:100px;
    padding-right:10px;
}

.input, label{
    float:left;
    display:block;
}

.input{
    padding:10px 0px;
    margin: 0 auto;
}

.third {
    background-color: #FFEE8E;
    display: block;
    float: left;
    width: 30%;
    margin: 1%;
    padding: 5px;
    height: 500px;
}

.resultbox{
    margin-top: 10px;
    height: 300px;
    width: 300px;
}

.imgbox{
    float:none;
    display:block;
    margin: 0 auto;
    height: 300px;
    width: 275px;
}

/*
.one{
    background-color:red;
}
.two{
    background-color:green;
}

.three{
    background-color:blue;
}
*/
